
NODE_ENV=development
PORT=3000
PUBLIC_BASE_URL=http://localhost:3000


CORS_ORIGIN=http://localhost:3001


DB_HOST=127.0.0.1
DB_PORT=9906
DB_USER=root
DB_PASSWORD=root
DB_NAME=dormitory_management


JWT_SECRET=supersecretkey
JWT_EXPIRE=1d


MASTER_KEY=base64:4oC3mF9aM/uTSVcfIwgkXpkHOOb5aN7mqcgPLI8KKw8=


LINE_WEBHOOK_PATH=/webhooks/line
CHANNEL_ID=2008313631
CHANNEL_SECRET=4bf85dd57a0de4414b0257de9bd26b4c
CHANNEL_ACCESS_TOKEN=FZJpYcwfrkmQaxGgGia7ROzwH7VgUQTmNyAgnzqRzfEx3/43FkZL/ye3hoi0AlpZwNrjRLnBcSUPcq3ytsxVgHRuxFZaXAJ1Dj64R+7zeQbyVIlpKsPSKVqkq2ijgbsxGcXwXf2yw96lMVUy/WKWbAdB04t89/1O/w1cDnyilFU=


